<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="page-title">Youtube Playlist Total Duration Calculator</h2>
  
    <%= form_for(@playlist, url: playlist_total_url, method: :get) do |f| %>
      <div class="form-group">
        <%= f.label :url, "Playlist URL:" %>
        <%= f.text_field :url, size: "75", class: "form-control" %>
      </div>
      
      <%= f.submit "Retrieve", class: "btn btn-primary btn-block btn-lg",
            data: { disable_with: "Retrieving Playlist..." } %>
    <% end %>
    
    
    <% if @playlist.errors.any? %>
      <ul class="error-messages">
        <% @playlist.errors.messages.each do |k, messages| %>
          <% messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    
  </div>
</div>