<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="page-title text-center">Playlist Total</h2>
    
    <h3 class="playlist-title text-center">
      <%= link_to @playlist.title, @playlist.url, target: "_blank" %> - 
      Total Duration (<%= @playlist.total_duration %>)
    </h3>
    
    <% if @playlist.videos.any? %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Thumbnail</th>
            <th>Video Title</th>       
            <th>Video Duration</th>
          </tr>
        </thead>
        <tbody>
          <% @playlist.videos.each do |video| %>
            <tr>
              <td>
                <%= link_to "https://www.youtube.com/watch?v=#{video[:id]}",
                      target: "_blank" do %>
                  <%= image_tag(video[:thumbnail_url]) %>
                <% end %>
              </td>
              <td>
                <%= link_to video[:title] , 
                      "https://www.youtube.com/watch?v=#{video[:id]}",
                      target: "_blank" %>
              </td>
              <td  class="video-duration">
                <%= video[:length] %>
              </td>
            </tr>
          <% end %>
          
          <tr>
            <td colspan="2" class="video-duration">
              <h3>Total Duration:</h3>
            </td>
            <td class="video-duration">
              <strong><%= @playlist.total_duration %></strong>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
      
  </div>
</div>